#!/usr/bin/make -f
%:
	dh $@

# Bodge-arse workaround for lintian complaint:
#   E: dovecot-fts-xapian: non-empty-dependency_libs-in-la-file usr/lib/dovecot/modules/lib21_fts_xapian_plugin.la
override_dh_auto_install:
	dh_auto_install
	rm debian/dovecot-fts-xapian/usr/lib/dovecot/modules/lib21_fts_xapian_plugin.a
	rm debian/dovecot-fts-xapian/usr/lib/dovecot/modules/lib21_fts_xapian_plugin.la

